.photos-slider {
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

.carousel img {
  height: 10rem;
  border-radius: 5%;
}
.carousel {
  height: 15rem;
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  padding: 1rem;
  margin-left: 1rem;
}

.slick-arrow::before {
  color: #033863 !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.slick-arrow {
  color: #033863 !important;
}

.slick-dots {
  margin-bottom: 1rem !important;
}

#photo-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.caption {
  font-size: 0.75rem;
}
#abt-h3 {
  padding-left: 5%;
}
.aside {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
}

.aboutsection {
  margin-bottom: 5rem;
  padding-left: 5%;
  padding-right: 5%;
}

.slick-next {
  right: -15px !important;
}

.slick-prev {
  left: -15px !important;
}

@media only screen and (max-width: 768px) {
  .aboutsection {
    padding-bottom: 1rem;
  }

  .aside {
    height: min-content;
  }

  .carousel img {
    height: 8rem;
    border-radius: 5%;
  }
  .carousel {
    height: 12rem;
    max-width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    padding: 1rem;
    margin-left: 1rem;
  }
  .caption {
    margin-bottom: 0;
  }

  .slick-next {
    right: -15px !important;
  }

  .slick-prev {
    left: -15px !important;
  }
}
