.photos-slider {
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

.carousel img {
  height: 10rem;
  border-radius: 5%;
}
.carousel {
  height: 15rem;
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  padding: 1rem;
  margin-left: 1rem;
}

.slick-arrow::before {
  color: #033863 !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.slick-arrow {
  color: #033863 !important;
}

.slick-dots {
  margin-bottom: 1rem !important;
}

#photo-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.caption {
  font-size: 0.75rem;
}

.aside {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
}

.aboutsection {
  margin-bottom: 5rem;
}

@media only screen and (max-width: 768px) {
  #abt-h3 {
    padding-left: 1rem;
    font-size: 1rem;
  }
  #about {
    padding-bottom: 1rem;
    font-size: smaller;
  }
  #photo-header {
    font-size: 0.85rem;
  }

  .carousel img {
    height: 6rem;
    border-radius: 5%;
  }
  .carousel {
    height: 8rem;
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    padding: 0rem;
    margin-left: 0rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .aside {
    height: min-content;
  }

  .caption {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    font-size: smaller;
  }

  .slick-next {
    right: -5px !important;
  }
  .slick-prev {
    left: -5px !important;
  }

  .slick-dots {
    bottom: -15px !important;
  }
}
