#contact-form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #FF5036;
    border-radius: 2%;
    padding: .75rem;
    width: 22rem;
    height: 14rem;
    position: static;
    margin-left: 1rem;
}

#contact-form h4{
    width: max-content;
    font-size: 1.2rem;
    color: #4FCAFF !important;
}

#contact-form label{
    font-size: .85rem;
}

#contact-form:hover{
    margin-left: .8rem;
    box-sizing: border-box;
    width: 22rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border: .1rem dashed #4FCAFF;
}

#contact-form:hover h4{
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.contact-field{
    font-size: .85rem;
    width: 9rem;
    background-color: aliceblue;
    border: .1rem dashed #033863;
    border-radius: 2%;
}

.contact-fields-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

#personal-fields{
    display: flex;
    flex-direction: column;
    margin-right: 1.2rem;
}

#message-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -1.7rem;
}

#message{
    font-size: .75rem;
    height: 9rem;
    width: 10rem;
    background-color: aliceblue;
    border: .1rem dashed #033863;
    border-radius: 2%;
}

#form-fields{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end   ;
}

#submit-button{
    width: 4rem;
    font-size: .75rem;
    border-radius: 2%;
    margin-top: .2rem;
    margin-bottom: .5rem;
    background-color: #4FCAFF;
    color: #022D50;
    border: 1px solid #033863;
  }
  
  #submit-button:hover{
    color: aliceblue;
    background-color: #033863;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }

  #success{
    width: 5rem;
    font-size: .9rem;
    border-radius: 5%;
    height: 3rem;
    margin: 1rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    background-color: rgb(255, 80, 54);
    color: #4FCAFF;
    border: 1px solid #4FCAFF;
  }