.project-pic{
    background-color: #FF5036;
    height: 20rem;
    width: 40rem;
    border-radius: 5%;
    padding: .5rem;
}

.pic-desc{
    display: flex;
}

.project-desc{
    padding-left: 2rem;
    height: 20rem;
    width: 40rem;
}

.project-name{
    font-size: 1.5rem;
}

.h-3{
    font-size: 2rem;
}


