.tech-stack {
  display: flex;
  flex-direction: column;
}

.stacks {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stack-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.full-stack {
  background-color: #ff5036;
  border-radius: 2%;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem;
  height: 22rem;
  width: 16rem;
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
}

.full-stack:hover {
  box-sizing: border-box;
  height: 22rem;
  width: 16rem;
  border: 0.2rem dashed #4fcaff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.full-stack:hover h5 {
  font-weight: bold;
}

.tech-h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: -1rem;
}

.h-3 {
  font-size: 1.5rem;
  color: #4fcaff;
}

.stack-items {
  padding: 0;
}

.stack-icon {
  list-style: none;
}
.stack-icon a {
  background-color: #4fcaff;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 2%;
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 1rem;
  width: 10rem;
  flex-direction: column;
  padding: 0.2rem;
  align-items: center;
  text-decoration: none;
  color: #022d50;
}

.stack-icon a:hover {
  font-weight: bold;
  color: aliceblue;
  background-color: #033863;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.blurb {
  width: 16rem;
  height: 22rem;
  /* max-height: 30rem; */
  max-width: 18rem;
  color: #ff5036;
  background-color: rgba(79, 202, 255, 0.2);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); */
  border-radius: 2%;
  padding: 1rem;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

#backend-blurb {
  margin-top: 0.5rem;
  margin-left: 35rem;
}

#frontend-blurb {
  margin-top: 0.5rem;
  margin-right: 35rem;
}

/* MEDIA QUERY */

@media only screen and (max-width: 768px) {
  .tech-stack {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .stacks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .stack-group {
    display: flex;
    flex-direction: column;
    /* height: 30rem; */
    justify-content: center;
    align-items: center;
  }

  .stack-items {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .full-stack {
    background-color: #ff5036;
    border-radius: 2%;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 0.9rem;
    height: 7rem;
    position: relative;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .full-stack:hover {
    width: 20rem;
    height: 7.3rem;
    font-size: 0.9rem;
    box-sizing: border-box;
    border: 0.2rem dashed #4fcaff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }

  .full-stack:hover h5 {
    font-weight: bold;
  }

  .tech-h5 {
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: -1rem;
  }

  .h-3 {
    font-size: 1.5rem;
    color: #4fcaff;
  }

  .full-stack a {
    width: min-content;
    height: min-content;
    margin: 0.25rem;
  }

  .stack-icon {
    list-style: none;
  }
  .stack-icon a {
    background-color: #4fcaff;
    border-radius: 2%;
    width: min-content;
    display: flex;
    font-size: 0.5rem;
    flex-direction: row;
    padding: 0.2rem;
    align-items: center;
    text-decoration: none;
    color: #022d50;
  }

  .stack-icon a:hover {
    font-weight: bold;
    color: aliceblue;
    background-color: #033863;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }

  .blurb {
    color: #ff5036;
    background-color: rgba(79, 202, 255, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 2%;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    box-sizing: border-box;
    max-width: none;
    width: 20rem;
    padding: 0.25rem;
    height: auto;
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #front-group {
    display: flex;
    flex-direction: column-reverse;
  }

  #backend-blurb {
    margin: 0;
    height: 7rem;
    position: relative;
  }

  #frontend-blurb {
    position: relative;
    margin: 0;
  }
}
