* {
  font-family: "Space Grotesk", sans-serif;
}

html {
  width: 100%;
}

.h-3 {
  font-size: 1rem;
}

body {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: aliceblue;
  color: #033863;
}

.section {
  margin: 1rem;
}
/* HOME PAGE */

@media only screen and (max-width: 768px) {
  #root {
    display: flex;
    justify-content: center;
  }

  body {
    padding-left: 0;
    padding-right: 0;
  }

  .App {
    width: auto;
    /* max-width: 768px; */
  }
}
